[submodule "modules/imageprocessing"]
	path = modules/imageprocessing
	url = https://github.com/funkey/imageprocessing
[submodule "modules/util"]
	path = modules/util
	url = https://github.com/funkey/util
[submodule "inference"]
	path = modules/inference
	url = https://github.com/funkey/solvers
